*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.admin-signup-image{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.admin-signup{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.admin-signup .admin-signup-image-2{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.admin-signup .admin-signup-form{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.admin-signup-image-2 img{
	width: 500px;
}

form{
	width: 360px;
}

.admin-signup .admin-signup-form img{
    height: 100px;
}

.admin-signup .admin-signup-form  h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.admin-signup .admin-signup-form  .admin-signup-input{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.admin-signup .admin-signup-form  .admin-signup-input .admin-signup-one{
	margin-top: 0;
}

.admin-signup .admin-signup-form  .admin-signup-input .admin-signup-i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}


.admin-signup .admin-signup-form  .admin-signup-input .admin-signup-i i{
	transition: .3s;
}

.admin-signup .admin-signup-form  .admin-signup-input > div{
    position: relative;
	height: 45px;
}

.admin-signup .admin-signup-form  .admin-signup-input> div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

  .admin-signup-input:before,  .admin-signup-input:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.admin-signup .admin-signup-form  .admin-signup-input:before{
	right: 50%;
}

.admin-signup .admin-signup-form  .admin-signup-input:after{
	left: 50%;
}
.admin-signup .admin-signup-form  .admin-signup-input.focus:before,  .admin-signup .admin-signup-form  .admin-signup-input.focus:after{
	width: 50%;
}

.admin-signup .admin-signup-form  .admin-signup-input.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.admin-signup .admin-signup-form  .admin-signup-input.focus > .admin-signup-i > i{
	color: #38d39f;
}

.admin-signup .admin-signup-form  .admin-signup-input > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.admin-signup .admin-signup-form  .admin-signup-input .admin-signup-pass{
	margin-bottom: 4px;
}

.admin .admin-login .admin-confirm-pass{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

.admin-signup .admin-signup-form .admin-confirm-pass:hover{
	color: #38d39f;
}

.admin-signup .admin-signup-form .admin-signup-btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.admin-btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.admin-signup{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.admin-signup .admin-signup-form h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	 .admin-signup .admin-signup-image-2 img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.admin-signup{
		grid-template-columns: 1fr;
	}

	.admin-signup .admin-signup-image-2{
		display: none;
	}

	.admin-signup-image{
		display: none;
	}

	.admin-signup .admin-signup-form{
		justify-content: center;
	}
}